################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SWStarships/.vs/SWStarships
/SWStarships/bin/Debug/netcoreapp3.0
/SWStarships/obj
/SWStarshipsTest/obj
/SWStarshipsTest/bin/Debug/netcoreapp3.0
